<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
  <HEAD>
    <TITLE> AISLER 2 Layer Complex </TITLE>
  </HEAD>
  <p>
    <img src="logo_medium.png" alt="Aisler Logo">
    <br>
  </p>

  <P>
  <h2> This project template sets you up with presets to jumpstart your endeavors into electronics and PCB design. <br>
     The DRC, trace and via settings are specifically tailored for AISLERs PCB offerings. <br>
  </h2>
  </P>

  <p>
    <h4> 
    In the PCB editor you can switch between the preset trace and via sizes using the corresponding drop-down menus. <br>
    This allows you to choose the optimal via and tracks size for your need. <br>
     When routing from an existing track Kicad will use its track size instead of the current one you selected,<br>
      You can disable this by clicking the button in between drop-down menus. <br>
    </h4>
    </p>
  
  <p>
    <h3>Trace width selection</h3><br>
    <img src="trace-selection.png" alt="Trace Width Selection Menu"><br>
  </p>

  <p>
    <h3>Via selection menu</h3><br>
    <img src="via-selection.png" alt="Via selection menu"><br>
  </p>

  <p>
<h4>
    If you want to route a power rail to supply your components its a good idea to choose a larger trace to keep the voltage drop low <br>
     When routing signal traces choose a smaller trace width, to save space. <br>
    You can read more about getting started with the basics of PCB Layout <a href="https://community.aisler.net/">in the AISLER Community</a><br>
</h4>
</p>

<p>
<h4>

 After you finished routing your PCB it is important to run a design rule check (DRC), <br>
this way you can catch mistakes you have made before you proceed to order the PCB. <br>
 You find the DRC under <b>Inspect -> Design Rules Checker</b> . <br>

</h4>
</p>

<p>
<h3>Design Rules Checker</h3><br>
  <img src="drc.png" alt="Design Rules Checker menu"><br>
  </p>

  <p>
    <h3> Push to AISLER<h3><br>
    <h4>    
     Ordering PCBs can be diffcult but the Push to AISLER plugin for KiCad enables you to upload your design with just a buttonpress. <br>
    Select the Plugin and Content Manager on KiCads main page. <br>
    <img src="pcm.png" alt="Plugin and Content Manager"><br> 
    Scroll down to AISLER Push for KiCad, select Install the Apply Changes. <br>
    </h4>
    <img src="install.png" alt="Installation Process"> <br> 
    <h4>
    After restarting KiCad you can head to the PCB editor and will find a button on the right sight of the layer selection drop-down menu. <br>
     When you click this button your project files will be exported in the right format and uloaded to AISLER. <br>
    Once the upload is completed you can place your order in less than a minute.<br>
    If you made changes to your PCB and press the button again, a new revision is uploaded. <br>

  </p> (c)2023 AISLER B.V. <BR>
</HTML>